/* multiCity.css */

.multi {
    display: flex;
    flex-direction: column; /* Align elements vertically */
  }
  
  .city-container {
    display: flex;
    justify-content: space-between; /* Align elements with space between them */
    align-items: center; /* Center elements vertically */
   
    
  }
  
  .input-box1
   {
    display: flex;
    align-items: center;
   padding-bottom: 30px;
  }
  
  .froom {
    backdrop-filter: blur(1px); /* Apply a blur effect to the background */
    border: 1px solid rgba(177, 196, 214, 0.3); /* Semi-transparent white border */
  
    border-radius: 7px; /* Rounded edges */
    height: 30px;
    width: 300px; /* Adjust the width to your desired size */
    padding: 8px; /* Add some padding for spacing */
    margin-right: 40px;
  }
  
  .too {
    backdrop-filter: blur(1px); /* Apply a blur effect to the background */
    border: 1px solid rgba(177, 196, 214, 0.3); /* Semi-transparent white border */
  
    border-radius: 7px; /* Rounded edges */
    height: 30px;
    width: 300px; /* Adjust the width to your desired size */
    padding: 8px; /* Add some padding for spacing */
    margin-right: 40px;
  }
  
  button {
    margin-top: 10px;
    text-align: left;
  }
  .button-container {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust the margin as needed */
  }